caricature-flow.json
[{"id":"a18f596d.66eb58","type":"alchemy-image-analysis","z":"a998d52d.b1a658","name":"","apikey":"__PWRD__","image-feature":"imageKeywords","x":500.8333435058594,"y":408.6666488647461,"wires":[["f139f3cb.91c97"]]},{"id":"84d40b99.fee0f8","type":"inject","z":"a998d52d.b1a658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112.83332824707031,"y":407.33333587646484,"wires":[["a553ab08.980848"]]},{"id":"f139f3cb.91c97","type":"debug","z":"a998d52d.b1a658","name":"","active":true,"console":"false","complete":"result","x":691.8333435058594,"y":409.6666488647461,"wires":[]},{"id":"a553ab08.980848","type":"http request","z":"a998d52d.b1a658","name":"GET caricature","method":"GET","ret":"bin","url":"https://raw.githubusercontent.com/ylecleach/misc/master/caricature-devoxx-france-2016.jpg","x":296.8333435058594,"y":408.6666793823242,"wires":[["a18f596d.66eb58"]]}]
